SANDCAT Lua "Sandcat.lua"
SYHUNTICON Icon "Syhunt.ico"
REQUESTBUILDER HTML "html\requestbuilder.html"
TAB_BOTTOMBAR HTML "html\tab_bottombar.html"
TABBAR HTML "html\tabbar.html"
STATBAR HTML "html\statbar.html"
TAB_NAVBAR HTML "html\tab_navbar.html"
PAGEBAR HTML "html\pagebar.html"
PAGE_EXTENSION HTML "html\page_extension.html"
TAB_CUSTOM HTML "html\tab_custom.html"
TAB_RESPONSE HTML "html\tab_response.html"
TAB_RESULTS HTML "html\tab_results.html"
TAB_TASKS HTML "html\tab_tasks.html"
TAB_TOOLBAR HTML "html\tab_toolbar.html"