SYHUNTICON Icon "Syhunt.ico"
SANDCAT_LUA RCDATA "Sandcat.lua"
HTML_REQUESTBUILDER RCDATA "html\requestbuilder.html"
HTML_TAB_BOTTOMBAR RCDATA "html\tab_bottombar.html"
HTML_TABBAR RCDATA "html\tabbar.html"
HTML_STATBAR RCDATA "html\statbar.html"
HTML_TAB_NAVBAR RCDATA "html\tab_navbar.html"
HTML_PAGEBAR RCDATA "html\pagebar.html"
HTML_PAGE_EXTENSION RCDATA "html\page_extension.html"
HTML_TAB_CUSTOM RCDATA "html\tab_custom.html"
HTML_TAB_RESPONSE RCDATA "html\tab_response.html"
HTML_TAB_RESULTS RCDATA "html\tab_results.html"
HTML_TAB_TASKS RCDATA "html\tab_tasks.html"
HTML_TAB_TOOLBAR RCDATA "html\tab_toolbar.html"